<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/lib/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="plugins/treeview/jquery.treeview.css" />
    <link rel="stylesheet" href="plugins/treeview/screen.css" />
    <script src="js/lib/jquery.js"></script>
    <style>
        html,body{
            width:100%;
            height:100%;
        }
        iframe{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CommunityAdmin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo" id="pubConfig"><i class="fa fa-cog" aria-hidden="true"></i> 通用配置 <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/configuration')" id="configuration">分类管理</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/picture')" id="picture">图片管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-file-text" aria-hidden="true"></i>
                    作品管理 <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo1" class="collapse">
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/works_sethot')" id="works_sethot">热门设置</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/works_manage')" id="works_manage">作品管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-th" aria-hidden="true"></i> 产品管理 <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo2" class="collapse">
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/products_sethot')" id="products_sethot">热门设置</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/products_manage')" id="products_manage">产品管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo3"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;新闻管理 <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo3" class="collapse">
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/news_sethot')" id="news_sethot">热门设置</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/news_manage')" id="news_manage">新闻下线</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="pageJump('/news_add')" id="news_add">新闻添加</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>


</body>    <iframe src="" frameborder="0" id="iframe"></iframe>

<!-- jQuery -->

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="plugins/treeview/jquery.cookie.js"></script>
<script src="plugins/treeview/jquery.treeview.js"></script>
<!--<script src="../../plugins/pager/pager.js"></script>-->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    var configUrl = '<%= config.communityAPIUrl %>';
    $(function () {
        var url=window.location.href.indexOf('cat')>0?window.location.href.substr(window.location.href.indexOf('cat')+4):'/index';
        loadUrl(url);
        toggleNav(url);
    });
    function pageJump(pageUrl) {
        loadUrl(pageUrl);
    }
    function loadUrl(pageUrl) {
        history.pushState({}, {}, window.location.origin+'?cat='+pageUrl);
        $("#iframe").attr('src', window.location.origin+pageUrl);
    }
    function toggleNav(url) {
        var id = url.substr(1);
        $("#"+ id).parent().parent().addClass('in');
    }
</script>
</html>