<!doctype html>
<head>
    <%- include('templates/header.html') %>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<html>
<body>

<div class="jumbotron">
    <div class="main">
        <h2>Hello,Welcome To</h2>
        <h1>Vidahouse's Community Admin</h1>
        <h2 class="button">
            <a href="/configuration" class="button_a">
                <span class="line line-top"></span>
                <span class="line line-right"></span>
                <span class="line line-bottom"></span>
                <span class="line line-left"></span>
                GET STARTED
            </a>
        </h2>
    </div>
</div>
<%- include('templates/footer.html') %>
</body>
<body>

<iframe src="" frameborder="0"></iframe>
</body>

</html>