$main-color:#73A238;
$main-color-hover:#ACC92C;
$active-color:#FDB96E;
$font-color-light:#F3F3F3;
$font-color:#777;
$red-color:#E57373;

.col-lg-12{
  padding-right: 0;
}
label {
  font-weight: normal;
  float: left;
  line-height: 30px;
}
.prompt{
  text-align: left;
  line-height: 25px;
  margin: 0;
  color: $red-color;
}
.project{
  padding: 20px;
  border-bottom: 2px solid $main-color;
  select{
    width: 200px;
  }
  .form-control{
    display: inline-block;
  }
  a{
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    background-color: $main-color;
    color: #fff;
  }
}
.add-button{
  /*添加按钮*/
  margin-top: 40px;
  text-align: center;
  a{
    padding: .5em .8em;
    background-color: $red-color;
    border: 1px solid transparent;
    color:#fff;
    letter-spacing: 2px;
  }
  a:hover{
    color: #fff;
  }
}
.table{
  width: 80%;
  margin: 30px auto;
  .upload{
    a{
      padding: .5em 1.5em;
      background-color: $main-color;
      color: #fff;
    }
  }

  .replace-button{
    padding: .5em 1.5em;
    background-color: $main-color;
    color: #fff;
  }
}
@media screen and (max-width: 767px){
  .table-responsive {
    margin-top: 15px;
  }
}
.add-picture{
  /*添加图片模态框*/
  label{
    color: $font-color;
    font-weight: normal;
  }
  .img_choose + label{
    color: #fff;
  }
  /*上传图片*/
  .upload-img{
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;
  }
  .upload-button{
    display: inline-block;
    color: #fff;
    background-color: $red-color;
    padding: 0 2em;
    height: 30px;
    line-height: 30px;
    border:0;
    cursor: pointer;
  }

}
.replace-picture{
  /*替换图片模态框*/
  .upload-img{
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;
  }
  .replace-button{
    text-align: center;
    margin-top: 15px;
    label{
      color: #fff;
      background-color: $red-color;
      height: 30px;
      line-height: 30px;
      padding: 0 1.5em;
      float: none;
      margin-left: 0;
    }
  }
}
/*Input type="file"样式*/
.img_choose{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.img_choose + label{
  display: inline-block;
  color: #fff;
  background-color: $main-color;
  padding: 0 1.5em;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
